/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/
nav a:hover, a:focus{
     border: 2px dotted purple;
}

/*Write selector/rule property to position the default position for the skip class element*/
.skip{
     position: absolute;
     top: -65px;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus{
     position: absolute;
     top: 25px;
}

/*Write selector/rule property to style all elements when in focus*/

*:focus {
  border: 5px dashed green;
}


/*Write selector/rule property to style the container */
.container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     gap: 13px;
}

/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */
.container > :first-child {
     grid-column: 1 / -1;
     background-image: url(/images/header.jpg);
}



/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine selectors*/
.accounts, .onlinebanking, .security, .loans, .contact {
     grid-column: 2 / span 3;
}
.accounts-image, .onlinebanking-image, .security-image, .loans-image, .contact-image{
     grid-column: 1 / -1;
     max-height: 675px;
}
.accounts, .accounts-image {
     grid-row: 2;
}
.onlinebanking, .onlinebanking-image {
     grid-row: 3;
}
.security, .security-image {
     grid-row: 4;
}
.loans, .loans-image {
     grid-row: 5;
}
.contact, .contact-image {
     grid-row: 6;
}


img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
}
 /* Step 8: Write the selector/rule property to style the .text-block class. */
.text-block {
     text-align: center;
     place-content: center;
     margin: auto;
     max-width: max-content;

}
.text-block ul,
.text-block ol {
  text-align: left; /* Aligns lists to the left within the .text-block */
  /* Optional: Adjust list item styling if needed */
}
/* Add your media query here */
@media (min-width: 825px){
     nav > ul {
          float: right;
     }
     .container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     }

     .accounts, .security, .contact {
          grid-column: 4 / span 3;
     }
     .onlinebanking, .loans {
          grid-column: 1 / span 3;
     }
     .accounts-image, .security-image, .contact-image{
          grid-column: 1 / span 5;
     }
     .onlinebanking-image, .loans-image {
          grid-column: 3 / span 5; 
     }
     .text-block {
          max-height: 235px;
          overflow: scroll;
     }

}
  /* Step 10: Write the selector/rule property to style the nav element */

 
  /* Step 11: Write the selector/rule property to update the .container class */


  /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/



 /* Step 16:Write the selector/rule property to update the .text-block class */

